/* PodcastOptions.module.css */
.optionsContainer {
  width: 100%;
  margin: 25px auto 0 auto;
  box-sizing: border-box;
}

.optionsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .optionsGrid {
    flex-direction: column;
    gap: 16px;
  }
}
